*.suo
.ntvs_analysis.dat
Samples/MEAN_stack/node_modules/
Samples/MEAN_stack/logs/
Samples/MEAN_stack/assets/
*.cache
Samples/MEAN_stack/node_modules
Samples/MEAN_stack/.vagrant/
Samples/MEAN_stack/css/app.css
Samples/Jade_Express_MySQL/node_modules/
Samples/Jade_Express_MySQL/assets/
Samples/Jade_Express_MySQL/css/app.css
Samples/Jade_Express_MySQL/css/app.css.map
Samples/Jade_Express_MySQL/logs/
